* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

main {
  width: 90%;
  max-width: 600px;
  margin: 100px auto;
}

.hdg-lv2 {
  margin: 50px 0;
}

// tab
//-------------------------
.tab {
  margin-top: 100px;

  &__lstWrap {
    display: flex;
    border-bottom: 2px solid #000;
    column-gap: 40px;
  }

  &__lst {
    padding: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background-color: rgba($color: #ddd, $alpha: 0.8);
    }
  }

  &__cont {
    margin-top: 20px;
  }
}

.is-active {
  background-color: rgb(200, 200, 200);
}

.is-open {
  display: block;
}

.is-hidden {
  display: none;
}

// accordion
//-------------------------

.accordion-wrap {
  margin-bottom: 100px;

  .accordion:first-child {
    border-top: 1px solid #b9b9b9;
  }
}

.accordion {
  $_this: &;

  &__mark {
    color: #266aad;
    font-size: 24px;
    margin-right: 20px;
  }

  &__btn {
    position: relative;

    padding: 30px 20px;
    width: 100%;
    font-weight: bold;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid #b9b9b9;

    &:hover,
    &:focus {
      background-color: #f5f5f5;
    }

    // 右端のトグルマーク
    &::before,
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      width: 28px;
      height: 2px;
      top: 50%;
      right: 20px;
      background-color: #707070;
      transition: transform 0.1s;
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  &__content {
    padding: 30px 20px;
    border-bottom: 1px solid #b9b9b9;
    background-color: #fff;
  }

  // JS有効時の接頭辞を付与すること。
  &__content {
    display: none;
  }

  &.is-active {
    #{$_this}__btn {
      background-color: #f0f8fe;

      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }

    #{$_this}__content {
      display: block;
    }
  }
}
